* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	background: #CECCD0;
	font-family: arial, sans-serif;
	letter-spacing: 1px;
}
body {
	width: 100%;
	height: auto;
}
header {
	text-align: center;
	background: url(top-img.png) no-repeat center;
	background-position: top;
	width: 100%;
	height: 450px;
}
body header ul li {
	display: inline-block;
	margin: 0 25px;
	padding-top: 25px;
}
.current {
	border-bottom: 1px solid #c2002e;
	padding-bottom: -1px;
	color: white;
}
#menu li:hover {
	border-bottom: 1px solid #c2002e;
	margin-bottom: -1px;
}
#menu li a:hover {
	color: white;
}
ul li a {
	color: #616382;
	text-decoration: none;
	font-size: 12px;
}
h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
	font-family: amiri, sans-serif;
}
h3 {
	color: #c2002e;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 10px;
}
P {
	line-height: 22px;
}
.author p {
	font-style: italic;
	text-align: center;
	color: white;
	padding-top: 25px;
}
.container {
	width: 100%;
	display: inline;
}
.container .container-inner {
	width: 60%;
	text-align: center;
	display: inline;
}
.firstcharacter {
	float: left;
	font-size: 75px;
	line-height: 55px;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 3px;
	font-weight: bold;
}
.container .container-inner p {
	padding-left: 28%;
	padding-right: 28%;
	padding-bottom: 30px;
	text-align: left;
}
.container-inner2 {
	display: inline-block;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}
.container .container-inner2 img {
	width: 60%;
	display: inline-block;
	float: left;
}
.container .container-inner2 p {
	width: 10%;
	display: inline-block;
	text-align: top;
	float: left;
	margin-left: 10px;
	border-top: 2px solid #c2002e;
}
.container .container-inner3 {
	display: inline-block;
	width: 100%;
	padding-left: 28%;
}
.container .container-inner3 p {
	width: 15%;
	display: inline-block;
	float: left;
}
.container .container-inner3 iframe {
	width: 45%;
	display: inline-block;
	float: left;
}
.clear {
	clear: both;
	padding-bottom: 20px;
}
#comment a {
	text-decoration: none;
	color: black;
	border-bottom: 2px solid #c2002e;
	padding-bottom: 5px;
}
#comment p {
	text-align: center;
	font-style: italic;
}
footer {
	text-align: center;
	background: url(footer-img.png) no-repeat center;
	height: 700px;
	background-position: center bottom;
	width: 100%;
}
footer h4 {
	font-weight: 700;
	padding-bottom: 15px;
	font-size: 16px;
}
footer h5 {
	color: #c2002e;
	text-transform: uppercase;
}
.left {
	display: inline;
}
.right {
	display: inline;
}
.container-half-left {
	width: 17%;
	height: auto;
	display: inline-block;
	text-align: left;
	padding-right: 63px;
}
.container-half-right {
	width: 17%;
	height: auto;
	display: inline-block;
	text-align: left;
	padding-left: 63px;
	vertical-align: top;
}
.container-half-right .story {
	float: right;
}
.story {
	display: inline-block;
	padding-top: 50px;
}
.story i {
	color: #c2002e;
}
.footer-two {
	background-color: #040410;
	height: 60px;
}
.footer-two-left {
	width: 30%;
	display: inline-block;
	float: left;
	padding-left: 160px;
}
.footer-two-left p {
	color: white;
	text-align: left;
}
.footer-two-right {
	width: 48%;
	display: inline-block;
}
.footer-two-right ul li {
	display: inline-block;
	float: left;
	margin-left: 50px;
}
